<style>
         body {
         font-size: 8px;
         }
        #wrapper {
            width: 900px;
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 100px;
        }

        .wrapper-top {
            width: 900px;
            height: 19px;
            margin: 0 auto;
            background-repeat: no-repeat;
        }

        .wrapper-mid {
            width: 900px;
            margin: 0 auto;
            background-repeat: repeat-y;
            padding-bottom: 40px;
        }

        .wrapper-bottom {
            width: 900px;
            height: 22px;
            padding: 0;
            margin: 0 auto;
            background-repeat: no-repeat;
        }

        #paper {
            width: 800px;
            margin: 0 auto;
        }

        #wrapper, .wrapper-mid {
            background: none;
        }

        .wrapper-top, .wrapper-bottom {
            display: none;
        }

        .print-pp p {
            font-size: 8px;
        }

        h3 {
            font-size: 12px;
            color: #7dc24b;
        }

        h5 {
            font-weight: bold;
            font-size: 10px;
        }

        td{
            font-size: 8px;
        }
        div.line {
            border-bottom: 2px solid #7dc24b;
        }

        .list-symbol-bullet li {
            line-height: 30px;
            list-style-type: none;
        }

        .address {
            margin-top: 20px;
        }

        .fileAttachmentAnnotation{
            background: black;
        }
    </style>
    <table  cellpadding="2" cellspacing="2">
 <tr nobr="true">
  <td style="float:left;padding: 50px">
  <img src="/img/oway.png" width="180px" style="float: left;padding: 50px"/>
  </td>
  <td style="float:left ">
 <div class="col-md-8 pull-right smallpadding" style="float: right;">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;49/B, 1st Floor, Moe Sandar Street, Ward (1),<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kamayut, Yangon, Myanmar</p>
                        <span class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Telephone:</span> 01 525011, 01 503196 <br>
                        <span class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:</span> <a
                                href="#">cvs@owayhrsolutions
                            .com.mm<br></a>
                    </div>
  </td>
 </tr>
</table>
 <div style="margin-bottom:10px;padding: 1px;border-bottom: 2px solid #7dc24b;"></div>
  <table  cellpadding="9" cellspacing="3">
 <tr nobr="true">
<td style="float:left">
<img src="' . $applicant_information->cv_image . '" style="width:150px;height:150px" class="img-responsive">
</td>
</tr>
 
 
</table>

<br/> lorem <h3>Summary</h3>
<div class="line" style="border-bottom: 2px solid #7dc24b;"></div>
<table  cellpadding="2" cellspacing="2">
 <tr nobr="true">
    <td style="float:left">
    Profile
    </td>
    <td style="float:left">-
    '  'lorem' '&nbsp;&nbsp;' . $martial_status . '
    </td>
 </tr>
 <tr nobr="true">
    <td style="float:left">
    Date of birth
    </td>
    <td style="float:left">-
    ' . date('F d, Y', strtotime($applicant_information->dob)) . '
    </td>
 </tr>
 <tr nobr="true">
    <td style="float:left">
    Father Name
    </td>
    <td style="float:left">-
    ' . $applicant_information->father_name . '
    </td>
 </tr>
 <tr nobr="true">
    <td style="float:left">
    N.R.C No
    </td>
    <td style="float:left">-
    ' . $applicant_information->nrc . '
    </td>
 </tr>
 <tr nobr="true">
    <td style="float:left">
    Nationality
    </td>
    <td style="float:left">-
    ' . $applicant_information->nationality . '
    </td>
 </tr>
 <tr nobr="true">
    <td style="float:left">
    Height
    </td>

    <td style="float:left">-
   ' . $applicant_information->height . '
    </td>
 </tr>
 <tr nobr="true">
    <td style="float:left">
    Weight
    </td>

    <td style="float:left">-
    ' . $applicant_information->weight . '
    </td>
 </tr>
 <tr nobr="true">
    <td style="float:left">
    Current Location
    </td>

    <td style="float:left">-
     ' . Country::where('id', $applicant_information->curr_location)->pluck('country_name') . '
    </td>
 </tr>
 <tr nobr="true">
    <td style="float:left">
     Address
    </td>

    <td style="float:left">-
    ' . $applicant_information->address . '
    </td>
 </tr>
 <tr nobr="true">
    <td style="float:left">
     Last Position
    </td>

    <td style="float:left">-
    ' . $applicant_information->curr_position . '
    </td>
 </tr>
 <tr nobr="true">
    <td style="float:left">
     Last Company
    </td>

    <td style="float:left">-
    ' . $applicant_information->curr_company . '
    </td>
 </tr>
</table><br/>
';
        }

        if ($request->input('cv_data.c_objective')== '1') {
            $html .= '<h3>Career Objective</h3>
<div class="line" style="border-bottom: 2px solid #7dc24b;"></div>
<table  cellpadding="2" cellspacing="2">
 <tr nobr="true">
    <td style="float:left">
   ' . $applicant_information->c_objective . '
    </td>
 </tr>
</table><br/>
';
        }

        if ($request->input('cv_data.edu_back')== '1') {
            $edu_back = SiteHelper::get_applicant_education($cv_no->cv_no);
            $html .= '<h3>Educational Background</h3>
<div class="line" style="border-bottom: 2px solid #7dc24b;"></div>
<table  cellpadding="2" cellspacing="2">';
            foreach ($edu_back as $edu) {
                $html .=
                    '<tr nobr="true">
    <td style="float:left">
   ' . $edu->uni_start_date . ' - ' . $edu->uni_graduation_date . '
    </td>
    <td style="float:left">
   <b>' . $edu->uni_name . '</b><br>
   ' . Country::where('id', $edu->uni_country)->pluck('country_name') . '
    </td>
    <td style="float:left">
   <b>' . University::where('id', $edu->degree_lvl)->pluck('degree_name') . ',' . $edu->other . ',' . $edu->major_name . '</b>
    </td>
 </tr>
 <tr>
 <td style="float:left"></td>
 </tr>';
            }
            $html .= '</table><br/>
';
        }

        if ($request->input('cv_data.other_qual')== '1') {
            $other_qualification = SiteHelper::get_applicant_other_qualification($cv_no->cv_no);
            $html .= '<h3>Other Qualifications</h3>
<div class="line" style="border-bottom: 2px solid #7dc24b;"></div>
<table  cellpadding="2" cellspacing="2">';
            foreach ($other_qualification as $other) {
                $html .=
                    '<tr nobr="true">
    <td style="float:left">
   ' . $other->certi_date . '
    </td>
    <td style="float:left">
   <b>' . $other->training_center . '</b><br>
   ' . Country::where('id', $other->certi_country)->pluck('country_name') . '
    </td>
    <td style="float:left">
   <b>' . $other->certi_name . '</b>
    </td>
 </tr>
 <tr>
 <td style="float:left"></td>
 </tr>';
            }
            $html .= '</table><br/>
';
        }

        if ($request->input('cv_data.work_exp')== '1') {
            $applicant_work_exp = SiteHelper::get_applicant_work_exp($cv_no->cv_no);
            $html .= '<h3>Working Experience</h3>
<div class="line" style="border-bottom: 2px solid #7dc24b;"></div>
<table  cellpadding="2" cellspacing="2">';
            foreach ($applicant_work_exp as $work) {
                $html .=
                    '<tr nobr="true">
    <td style="float:left">' . date('M Y',strtotime($work->exp_from_date)) . ' - ' . date('M Y',strtotime($work->exp_to_date)) . '
    </td>
    <td style="float:left">
  <b> ' . $work->exp_job_title . ' </b>
    </td>
    <td style="float:left">
  <b> ' . $work->exp_company_name . '</b>
    </td>
 </tr>
 <tr nobr="true">
    <td style="float:left"><b>Industry  </b>
    </td>
    <td style="float:left">
    : ' . Job_Industry::where('id', $work->exp_job_industry)->pluck('industry_description') . '
    </td>
    <td style="float:left">
   ' . $work->exp_job_city . ' , ' . Country::where('id', $work->exp_job_country)->pluck('country_name') . '
    </td>
 </tr>
 <tr nobr="true">
    <td  style="float:left" ><b>Job Description  </b>
    </td>
    <td colspan="2">' . $work->exp_description . '
    </td>
 </tr>
 <tr>
 <td style="float:left"></td>
 </tr>
 ';
            }
            $html .= '</table><br/>
';
        }


        if ($request->input('cv_data.it_skill')== '1') {
            $it_skill = SiteHelper::get_applicant_it_skill($cv_no->cv_no);
            $html .= '<h3>IT Skill</h3>
<div class="line" style="border-bottom: 2px solid #7dc24b;"></div>
<table  cellpadding="2" cellspacing="2">';
            foreach ($it_skill as $it) {
                $html .=
                    '<tr nobr="true">
    <td style="float:left">
   <b> - ' . $it->topic_app_name . '</b>
    </td>
    <td style="float:left">
   ' . IT::where('id', $it->it_type)->pluck('type_name') . '
    </td>
    <td style="float:left">
   <b>' . DB::table('it_lvl')->where('id', $it->it_skill)->pluck('it_lvl_name') . '</b>
    </td>
 </tr>
 <tr>
 <td style="float:left"></td>
 </tr>';
            }
            $html .= '</table><br/>
';
        }

        if ($request->input('cv_data.lang_skill')== '1') {
            $lang_skill = SiteHelper::get_applicant_lang_skill($cv_no->cv_no);
            $html .= '<h3>Language Skill</h3>
<div class="line" style="border-bottom: 2px solid #7dc24b;"></div>
<table  cellpadding="2" cellspacing="2">';
            foreach ($lang_skill as $lang) {
                $html .=
                    '<tr nobr="true">
    <td style="float:left">
   <b> - ' . Language::where('id', $lang->language_name)->pluck('lang_name') . '</b>
    </td>
    <td style="float:left">
   <b>' . DB::table('language_lavel')->where('id', $lang->language_skill)->pluck('lang_lvl') . '</b>
    </td>
 </tr>
 <tr>
 <td style="float:left"></td>
 </tr>
 ';
            }
            $html .= '</table><br/>
';
        }



        if ($request->input('cv_data.ref_person')== '1') {
            $ref_person = SiteHelper::get_applicant_ref_person($cv_no->cv_no);
            $html .= '<h3>Reference Person</h3>
<div class="line" style="border-bottom: 2px solid #7dc24b;"></div>
<table  cellpadding="2" cellspacing="2">';
            foreach ($ref_person as $ref) {
                $html .=
                    '<tr nobr="true">
    <td style="float:left">'. $ref->reference_person_name . '
    </td>
    <td style="float:left"><b>'. $ref->reference_person_position . '</b>
   </td>
    <td style="float:left">
  <b>" ' . $ref->reference_person_company . ' "</b>
    </td>
 </tr>
 <tr nobr="true">
    <td colspan="2"><b>Mobile No : </b>' . @$ref->reference_person_mobile . '
    </td>
    <td style="float:left">'. $ref->reference_person_email . '
    </td>
 </tr>
 <tr>
 <td style="float:left"></td>
 </tr>';
            }
            $html .= '</table><br/>
';