.dataBox{
	position: absolute;
    top: 61px;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--white);
    box-shadow: 1px 2px 8px #ccc;
    z-index: 4;
    display: none;
}

.dataBox span{
	float: left; 
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid var(--gray3);
    font-size: .95em;
    cursor: pointer;
}